@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  user-select: none;

  & * {
    margin: 0 2em;
  }

  a {
    &:hover {
      filter: brightness(75%);
    }

    &:after {
      content: '';
      margin: auto;
      display: block;
      height: 1px;
      width: 0%;
      transition: all 0.3s ease;
    }

    &.router-link-active:after {
      width: 100%;
      background-color: hsla(160, 100%, 37%, 1);
    }
  }

  .router-link-active {
    transform: scale(1.1);
  }
}

.acryllic-bg {
  z-index: -100;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: blur(35px);
  opacity: 20%;
  background-image: url(gggyrate.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.content {
  padding: 2em 3em;
  position: relative;

  /* borders - test */
  /* & *:not(.backlight) {
    border: 1px solid rgba(10, 140, 220, 0.5);
  } */
  /* end */

  .grid {
    position: absolute;
    display: grid;

    .box {
      background-color: #30303085;
      backdrop-filter: blur(100px);
      border-radius: 1em;
      padding: 0.7em;
      overflow: hidden;
    }
  }
}
